*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 40px;
  margin-top: -3%;
}
h2{
  font-size: 30px;
  padding-top: 1%;
}
h3{
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
}
li {
  list-style-type: none;
}
footer{
  display: inline-block;
  background-color: #E578AC;
  text-align: center;
  width: 100%;
  padding-bottom: 1%;
  color: #484185;
}
form {
  margin: 0 auto;
  max-width: 30%;
}
form input{
  margin: 5px 0;
}
textarea{
  min-height: 95px;
  max-width: 200px;
  max-height: 95px;
  float:right;
}
header{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  color: #164EBE;
  text-align: right;
  padding: 1% 0;
  font-size: 22px;
  background-color: #E578AC;
}
img {
  width: 25%;
}
nav ul li{
  display: inline;
  padding: 0 0.5%;
}

nav ul li a{
  color: #FFEFE2;
  text-decoration: none;
  padding-bottom: 5px;
}
nav ul li a:hover{
  color: #FFCAFF;
  border-bottom: 5px solid #FFCAFF;
}

#home{
  width: vmin;
  margin: 0 auto;
  font-size: 40px;
  color: #6766B2;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
}
#sobre-mim{
  width: 100%;
  margin: 1% auto;
  display: inline-block;
  color: #5C50C2;
  border-top: 10px solid #509EC2;
}
#trabalhos{
  width: 100%;
  margin: 0;
  display: inline-block;
  color: #eee;
  background-color: #5C50C2;
  border-top: 10px solid #EDC1D6;
}

#trabalhos h2{  color: #EDC1D6; }
#sobre-mim h2{  color: #509EC2; }


.sobre{
  float: left;
  margin: 0 auto;
  width: 30vw;
  padding: 1%;
  text-align: center;
}

.trabalho{
  float: left;
  margin: 0 auto;
  width: 45vw;
  padding: 1%;
  text-align: center;
}

.sobre h3{  color: #5C595B; }
